header .header-wrapper.header-wrapper--border-bottom {
    border-bottom: 1px solid #E1E1E1;
    box-shadow: none;
}
header .header__inline-menu .list-menu .mega-menu__content {
    border-top: 1px solid #E1E1E1;
}
header .header__inline-menu .list-menu .header__menu-item {
    text-decoration-thickness: inherit !important;
}
header .header__inline-menu .list-menu .header__menu-item span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1E1E1E;
}
header .header__inline-menu .list-menu .header__menu-item > .icon-caret {
    top: calc(50% - 4px);
}
header .mega-menu__list {
    display: flex;
    gap: 60px;
}
header .mega-menu__list .mega-menu__link--level-2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
}
header .mega-menu__list > li > ul > li > a {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #000000;
}
header .mega-menu__list li ul.two-column.list-unstyled {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 40px;
}


@media (max-width: 989px) {
    header .menu-drawer-container .list-menu__item {
        color: #1E1E1E;
    }
    header .menu-drawer-container .menu-drawer__menu-item--active,
    header .menu-drawer-container .menu-drawer__menu-item:focus,
    header .menu-drawer-container .menu-drawer__close-button:focus,
    header .menu-drawer-container .menu-drawer__menu-item:hover,
    header .menu-drawer-container .menu-drawer__close-button:hover {
        background: transparent;
        opacity: 1;
        color: #000;
        font-weight: 600;
    }
    header .menu-drawer-container .menu-drawer__navigation {
        padding: 20px 0;
        border-top: 1px solid #E1E1E1;
    }
    header .menu-drawer-container .menu-drawer__navigation > .menu-drawer__menu > li {
        border-bottom: 1px solid #f2f2f2;
    }
    header .menu-drawer-container .menu-drawer__navigation .submenu-open {
        visibility: visible;
    }
    header .menu-drawer-container .menu-drawer__inner-submenu button {
        display: none;
    }
    header .menu-drawer-container .menu-drawer__menu.has-submenu summary .icon.icon-arrow {
        display: none;
    }
    header .menu-drawer-container .menu-drawer__menu.has-submenu summary .icon-caret {
        display: block;
    }
    header .menu-drawer-container .menu-drawer__menu.has-submenu .menu-opening[open] > summary .icon-caret {
        transform: rotate(180deg);
    }
    header .menu-drawer-container .menu-drawer__menu.has-submenu .menu-opening > .menu-drawer__submenu {
        padding-left: 30px;
    }
    header .menu-drawer-container .menu-drawer__menu.has-submenu .menu-opening > .menu-drawer__submenu > .menu-drawer__menu {
        margin-left: 25px;
        border-left: 1px solid #2222229e;
    }
    header .menu-drawer-container .menu-drawer__menu.has-submenu .menu-opening > .menu-drawer__submenu > .menu-drawer__menu a {
        padding-left: 15px;
    }
    header .menu-drawer-container .menu-drawer__submenu {
        position: relative;
        top: auto;
        width: 100%;
        bottom: auto;
        left: auto;
        background-color: transparent;
        border-left: none;
        z-index: 1;
        transform: none;
        visibility: hidden;
    }
}

