header .header-wrapper.header-wrapper--border-bottom {
    border-bottom: 1px solid #E1E1E1;
    box-shadow: none;
}

header .header__inline-menu .list-menu .mega-menu__content {
    border-top: 1px solid #E1E1E1;
}

header .header__inline-menu .list-menu .header__menu-item {
    text-decoration-thickness: inherit !important;
}

header .header__inline-menu .list-menu .header__menu-item span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1E1E1E;
    text-transform: uppercase;
}

header .header__inline-menu .list-menu .header__menu-item > .icon-caret {
    top: calc(50% - 4px);
}

header .mega-menu__list {
    display: flex;
    gap: 60px;
}

header .mega-menu .mega-menu__list--condensed {
    display: flex;
}

header .mega-menu__list .mega-menu__link--level-2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
}
header .mega-menu__list > li > ul > li > a {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #000000;
}


header .mega-menu__list > li:not(:first-child) {
    padding-left: 40px;
    border-left: 1px solid #E1E1E1;
}

header .header__inline-menu .list-menu .header__menu-item {
    padding-left: 0;
    padding-right: 0;
}

.list-menu--inline {
    column-gap: 26px;
}

header .header__icons .disclosure {
    position: relative;
}
header .header__icons .disclosure .disclosure__button {
    border: none;
}
header .header__icons .disclosure .disclosure__button .img-icon {
  display: flex;
  align-items: center;
}
header .header__icons .disclosure .disclosure__button[aria-expanded="true"] .icon {
      transform: rotate(180deg);
}
header .header__icons .disclosure .disclosure__button .icon {
    width: 10px;
    margin-left: 10px;
}
header .header__icons .disclosure .disclosure__list {
    position: absolute;
    top: 100%;
    list-style: none;
    padding: 20px 5px 10px 5px;
    margin: 0;
    background: #fff;
    width: 100%;
    min-height: auto;
    overflow: visible;
}
header .header__icons .disclosure .disclosure__list a {
    color: #222;
    text-decoration: none;
    display: flex;
  align-items: center;
  margin-bottom: 5px;
}

header .header__icons .disclosure .img-icon img {
    width: 55px;
    height: 20px;
}

header .header__icons .disclosure .img-icon svg {
    width: 55px;
    height: 20px;      
}



@media (min-width: 900px) {
    header .header__inline-menu .list-menu > li > header-menu .header__menu-item {
        
    }
  
    header .header__inline-menu .list-menu > li > header-menu .icon-caret {
        margin-top: 1px;
    }
  
    header .header__icons .disclosure .disclosure__button.active-desktop + ul {
      display: block;
    }

    header .header__icons .disclosure .disclosure__button.active-desktop  .icon {
        transform: rotate(180deg);
    }

      header .header__icons .disclosure .disclosure__list img, svg {
            width: 50px;
        }

  header .header__icons .disclosure {
        position: static;
    }
    
    header .header__icons .disclosure .img-icon img {
    object-position: left top;
    object-fit: contain;
}
    
    header .header__icons .disclosure .disclosure__button img {
        width: 30px;
    }
    
    header .header__icons .disclosure .img-icon svg {
    width: 29px;
        margin-right: 20px;
}
    
    header .header__icons .disclosure .disclosure__button + ul {
        padding: .5rem;
        top: 100%;
        margin-top: 8px;
        border-top: 1px solid #E1E1E1;
    }
    
    header .header__icons.active-button {
        position: relative;
    }
}

@media (min-width: 900px) {
  
      .header .header__heading-link .h2{
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;
        color: #000000;
        text-transform: uppercase;
        opacity: 1;
    }
  
    header .header__active-menu-item {
        text-decoration: none;
    }
    header .header__inline-menu .list-menu > li > header-menu .header__menu-item:hover:after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 11px;
        background: transparent;
    }

    .header__icons {
        align-items: center;
    }
         header .list-menu--inline > li > header-menu .mega-menu__content {
        opacity: 0;
        transform: none;
          visibility: hidden;
    }
    header .list-menu--inline > li > header-menu .header__menu-item {
        position: static;
    }
    header .list-menu--inline > li > header-menu .header__menu-item:hover .mega-menu__content {
        opacity: 1;
        transform: none;
        visibility: visible;
    }
}


@media (max-width: 989px) {
        .header .header__heading-link .h2{
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;
        color: #000000;
        text-transform: uppercase;
        opacity: 1;
    }
  

  .header>.header__heading-link span {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      display: flex;
      align-items: center;
      color: #000;
      text-transform: uppercase;
      opacity: 1;
  }
  
    .disclosure.desktop {
      display: none;
    }
  
    header .menu-drawer-container .list-menu__item {
        color: #1E1E1E;
    }

    header .menu-drawer__utility-links {
        background: transparent;
    }
  
    header .menu-drawer-container .menu-drawer__menu-item--active,
    header .menu-drawer-container .menu-drawer__menu-item:focus,
    header .menu-drawer-container .menu-drawer__close-button:focus,
    header .menu-drawer-container .menu-drawer__menu-item:hover,
    header .menu-drawer-container .menu-drawer__close-button:hover {
        background: transparent;
        opacity: 1;
        color: #000;
        font-weight: 600;
        text-decoration: underline;
    }
  
    header .menu-drawer-container .menu-drawer__navigation {
        padding: 20px 0;
        border-top: 1px solid #E1E1E1;
    }
  
    header .menu-drawer-container .menu-drawer__navigation > .menu-drawer__menu > li {
        border-bottom: 1px solid #f2f2f2;
    }
  
    header .menu-drawer-container .menu-drawer__navigation .submenu-open {
        visibility: visible;
    }
  
    header .menu-drawer-container .menu-drawer__inner-submenu button {
        display: none;
    }
  
    header .menu-drawer-container .menu-drawer__menu.has-submenu summary .icon.icon-arrow {
        display: none;
    }
  
    header .menu-drawer-container .menu-drawer__menu.has-submenu summary .icon-caret {
        display: block;
    }
  
    header .menu-drawer-container .menu-drawer__menu.has-submenu .menu-opening[open] > summary .icon-caret {
        transform: rotate(180deg);
    }
  
    header .menu-drawer-container .menu-drawer__menu.has-submenu .menu-opening > .menu-drawer__submenu {
        padding-left: 30px;
    }
  
    header .menu-drawer-container .menu-drawer__menu.has-submenu .menu-opening > .menu-drawer__submenu > .menu-drawer__menu {
        margin-left: 25px;
        border-left: 1px solid #2222229e;
    }
  
    header .menu-drawer-container .menu-drawer__menu.has-submenu .menu-opening > .menu-drawer__submenu > .menu-drawer__menu a {
        padding-left: 15px;
    }
  
    header .menu-drawer-container .menu-drawer__submenu {
        position: relative;
        top: auto;
        width: 100%;
        bottom: auto;
        left: auto;
        background-color: transparent;
        border-left: none;
        z-index: 1;
        transform: none;
        visibility: hidden;
    }

  header .disclosure.mobile {
    position: relative;
    background: #FAFAFA;
    height: 50px;
    border-top: 1px solid #E1E1E1;
    display: flex;
    align-items: center;
  }
  header .disclosure.mobile .disclosure__button {
      border: none;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      align-items: center;
      width: 100%;
  }
  header .disclosure.mobile .disclosure__button.active .disclosure__list {
      display: block;
  }
  header .disclosure.mobile .disclosure__button p {
      flex-grow: 2;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      margin: 0;
  }
  header .disclosure.mobile .disclosure__button .disclosure__list {
      width: 100%;
      bottom: 100%;
      top: auto;
      right: 0;
      text-align: right;
      padding-right: 35px;
      margin-bottom: 4px;
  }
  header .disclosure.mobile .disclosure__button[aria-expanded="true"] .icon {
      transform: rotate(180deg);
  }
  header .disclosure.mobile .disclosure__button .icon {
      width: 10px;
      margin-left: 10px;
  }
  header .disclosure.mobile .disclosure__list {
      position: absolute;
      top: 100%;
      list-style: none;
      padding: 10px 0 10px 15px;
      margin: 0;
      background: #fff;
      width: 100%;
      min-height: auto;
  }
  header .disclosure.mobile .disclosure__list a {
      color: #222;
      text-decoration: none;
  }
  
  header .disclosure.mobile .img-icon img {
      width: 32px;
      height: 20px;
  }
  
  header .disclosure.mobile .img-icon svg {
      width: 32px;
      height: 20px;
  }

}

